Ole Neckritz <olneckritz@edu.aau.at>
Ole Neckritz <ole.neckritz@gmx.de>
Ole Neckritz <ole@neckritz.com>
Andreas Londer <andreaslo@edu.aau.at>
Andreas Londer <andreaslonder@gmail.com>
Adrian Puškolaj <adpushkollaj@edu.aau.at>
Adrian Puškolaj <adrianpushkollaj@gmx.at>
Felix Schippel <felixschip@edu.aau.at>
Fabio Schmickl <faschmickl@edu.aau.at>
Fabio Schmickl <schmickl.fabio@gmail.com>
Vladyslav Sokyrko <vlsokyrko@edu.aau.at>
Vladyslav Sokyrko <268232512+hesysthenos@users.noreply.github.com>